.containerLogin{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #DBE9FF;
}

/* ---------- Header login ----------- */

.containerLogin img{
    height: auto;
    max-width: 17%;
}

/* ------------- Body login --------------- */

.bodyLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5vh;
}

.containerForm .description{
    text-align: center;
}

.containerForm .description label, p{
    padding: 0;
    margin: 0;
}

.containerForm .description p {
    font-family: NormalLight;
}

.containerForm .description .titleLog{
    font-size: clamp(1.8rem, calc(1.5vw + 0.8rem), 6rem);
    font-family: semiBold;
}

.containerForm .form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5em;
    width: 100%;
}

.inputUser{
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 0.5px solid black;
    padding-left: 1vw;
    font-size: 16px;
    font-family: regular;
}

.inputUser input{
    height: 80%;
    width: 90%;
    outline: none;
    border: none;
    font-family: regular;
    font-size: 16px;
}

.containerForm .button{
    width: 100%;
    font-size: 16px;
    font-family: regular;
    height: 2.8em;
    border: none;
    border-radius: 10px;
    background-color: var(--backgroundBtn);
    color: #ffffff;
}

p{
    font-size: 16px;
    font-family: regular;
}

.alertMessage.success{
    color: rgb(15, 155, 108);
}                                               

.alertMessage.error{
    color: rgb(206, 67, 67);
}

.btn-subscribe {
    background: none;
    border: none;
    color: #006797;
    font-size: 18px;
    cursor: pointer;
}

.checkbox{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 14px;
}

.checkbox label{
    margin: 0;
    font-family: regular;
    font-size: 1rem;
    cursor: pointer;
}

.inputCheckbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inputCheckbox input{
    height: 1.8vh;
    width: 1.8vh;
    border-radius: 10px;
}