.containerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1010px;
}

.containerForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 25px 15px;
}

.logoImage{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage img{
    margin-top: 15vh;
}

.bodyLogin{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description{
    text-align: center;
    width: fit-content;
}

.inputUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0 10px;
    border-radius: 10px;
    border: 0.5px solid black;
    padding-left: 15px;
    font-size: 16px;
    font-family: regular;
}

input{
    height: 80%;
    width: 90%;
    outline: none;
    border: none;
    font-family: regular;
    font-size: 16px;
}

img{
    width: fit-content;
    height: 80px;
}

.titleLog{
    font-size: 42px;
    font-family: semiBold;
}

Button{
    font-size: 16px;
    font-family: regular;
}

p{
    font-size: 16px;
    font-family: regular;
}

.alertMessage.success{
    color: rgb(15, 155, 108);
}                                               

.alertMessage.error{
    color: rgb(206, 67, 67);
}

.link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.link button {
    background: none;
    border: none;
    color: #006797;
    font-size: 18px;
    cursor: pointer;
}

.checkbox{
    /* border: 1px solid black; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 14px;
}

.checkbox label{
    margin: 0;
    font-family: regular;
    font-size: 16px;
    cursor: pointer;
}

.inputCheckbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inputCheckbox input{
    height: 1.8vh;
    width: 1.8vh;
    border-radius: 10px;
}