.containerRapport{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-shadow:  10px 8px 20px rgba(165, 199, 211, 0.13);
}

.rapportContent{
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 97%;
    height: 90%;
}

.headerChart{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerChart .selectChart{
    height: 2.5rem;
    width: 9rem;
}

.headerChart .selectChart select{
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    background-color: #359BC9;
    color: #ffffff;
    border-radius: 0.6rem;
    border: none;
}

.headerChart .selectChart select option{
    background-color: #ffffff;
    color: #000000;
}

.headerChart .selectChart select:focus{
    border: none;
}


.titleRapport{
    font-weight: 500;
}

.bodyChart{
    width: 100%;
    height: 85%;
}