.header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titre{
    font-family: semiBold;
}

.nomUser{
    font-size: 26px;
    font-family: semiBold;
}

.roleUser{
    font-size: 16px;
}